In [57]:
import pandas as pd
import numpy as np

FILE_PATH = 'C:/Users/webma/Desktop/BDMA/UPC/Semantic Data Management/Labs/Lab1/Dataset/'

In [58]:
data = pd.read_csv(FILE_PATH+'output_article.csv', sep=';', header=None)
header = pd.read_csv(FILE_PATH+'output_article_header.csv', sep=';')
data.columns = [x[:x.find(':')] for x in header.columns]
data.head(10)

C:\Users\webma\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2,4,5,6,7,8,9,10,11,13,14,18,19,20,21,22,23,24,28,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,article,author,author-aux,author-orcid,booktitle,cdate,cdrom,cite,cite-label,crossref,...,publisher,publtype,sub,sup,title,title-bibtex,tt,url,volume,year
0,91701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,(error),NaN,NaN,NaN,NaN,NaN
1,91702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,(was never published),NaN,NaN,NaN,NaN,NaN
2,91703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,…,NaN,NaN,NaN,NaN,NaN
3,2480033,Frank Manola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,Object Data Language Facilities for Multimedia...,NaN,NaN,db/journals/gtelab/index.html#TR-0169-12-91-165,TR-0169-12-91-165,1991.0
4,2480034,Alejandro P. Buchmann|Frank Manola|Mark F. Hor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,Object Data Model Facilities for Multimedia Da...,NaN,NaN,db/journals/gtelab/index.html#TM-0332-11-90-165,TM-0332-11-90-165,1990.0
5,2480035,Frank Manola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,An Evaluation of Object-Oriented DBMS Developm...,NaN,NaN,db/journals/gtelab/index.html#TR-0263-08-94-165,TR-0263-08-94-165,1994.0
6,2480036,Farshad Nayeri|Joe D. Morrison|Mark F. Hornick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,"Integrating Heterogeneous, Autonomous, Distrib...",NaN,NaN,db/journals/gtelab/index.html#TR-0174-12-91-165,TR-0174-12-91-165,1991.0
7,2480037,Frank Manola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,Object Model Capabilities For Distributed Obje...,NaN,NaN,db/journals/gtelab/index.html#TM-0149-06-89-165,TM-0149-06-89-165,1989.0
8,2480038,Frank Manola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,Distributed Object Management Technology.,NaN,NaN,db/journals/gtelab/index.html#TM-0014-06-88-165,TM-0014-06-88-165,1988.0
9,2480039,Frank Manola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,MetaObject Protocol Concepts for a RISC Object...,NaN,NaN,db/journals/gtelab/index.html#TR-0244-12-93-165,TR-0244-12-93-165,1993.0

In [59]:
jv = data[['article','author','crossref','journal','key','title','volume','year']]
jv = jv.dropna()
jv.head(5)

,article,author,crossref,journal,key,title,volume,year
323863,5335336,Amit Golander|Shlomo Weiss,journals/thipeac/2009-2,Trans. HiPEAC,journals/thipeac/GolanderW09,Reexecution and Selective Reuse in Checkpoint ...,2,2009.0
323864,5335337,Michel Dubois|Seok-Jun Park|Woojin Choi,journals/thipeac/2009-2,Trans. HiPEAC,journals/thipeac/ChoiPD09,Accurate Instruction Pre-scheduling in Dynamic...,2,2009.0
323865,5335338,Dean M. Tullsen|Subhradyuti Sarkar,journals/thipeac/2011-3,Trans. HiPEAC,journals/thipeac/SarkarT11,Data Layout for Cache Performance on a Multith...,3,2011.0
323866,5335339,Chris C. Kirkham|Christos Kotselidis|Ian Watso...,journals/thipeac/2011-3,Trans. HiPEAC,journals/thipeac/AnsariLKJKW11,Robust Adaptation to Available Parallelism in ...,3,2011.0
323868,5335342,M. M. Waliullah,journals/thipeac/2011-3,Trans. HiPEAC,journals/thipeac/Waliullah11,Efficient Partial Roll-Backing Mechanism for T...,3,2011.0

In [62]:
#Journal
journal=jv['journal'].unique()
with open(FILE_PATH+'bulk_csv/journal.csv', 'a') as the_file:
    for j in journal:
        the_file.write(j+'\n')

In [6]:
#Volume
volume=jv[['crossref','volume', 'year', 'journal']]
volume.columns = ['key', 'number', 'year', 'journal']
volume['key'].replace(regex=True,inplace=True,to_replace=r'journals/',value=r'')
volume['year']=volume['year'].astype(int)
volume['number']=volume['number'].astype(int)
volume.head(10)
volume=volume.drop_duplicates()
volume.to_csv(FILE_PATH+'bulk_csv/volume(journal).csv', index=False)

C:\Users\webma\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\webma\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [78]:
#Paper
paper = jv[['key', 'title', 'year', 'crossref']]
paper['key'].replace(regex=True,inplace=True,to_replace=r'journals/',value=r'')
paper['crossref'].replace(regex=True,inplace=True,to_replace=r'journals/',value=r'')
paper['year'] = paper['year'].astype(int)
paper.to_csv(FILE_PATH+'bulk_csv/paper(volume).csv', index=False)
paper.head(10)

C:\Users\webma\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,key,title,year,crossref
323863,thipeac/GolanderW09,Reexecution and Selective Reuse in Checkpoint Processors.,2009,thipeac/2009-2
323864,thipeac/ChoiPD09,Accurate Instruction Pre-scheduling in Dynamically Scheduled Processors.,2009,thipeac/2009-2
323865,thipeac/SarkarT11,Data Layout for Cache Performance on a Multithreaded Architecture.,2011,thipeac/2011-3
323866,thipeac/AnsariLKJKW11,Robust Adaptation to Available Parallelism in Transactional Memory Applications.,2011,thipeac/2011-3
323868,thipeac/Waliullah11,Efficient Partial Roll-Backing Mechanism for Transactional Memory Systems.,2011,thipeac/2011-3
323869,thipeac/OBoyleBC07,Introduction to Part 2.,2007,thipeac/2007-1
323870,thipeac/CopeCLH11,A Systematic Design Space Exploration Approach to Customising Multi-Processor Architectures: Exemplified Using Graphics Processors.,2011,thipeac/2011-4
323871,thipeac/LiaoJS11,A Modular Simulator Framework for Network-on-Chip Based Manycore Chips Using UNISIM.,2011,thipeac/2011-4
323872,thipeac/KhanK11,Microvisor: A Runtime Architecture for Thermal Management in Chip Multiprocessors.,2011,thipeac/2011-4
323873,thipeac/WuYWHRGZ11,Tiled Multi-Core Stream Architecture.,2011,thipeac/2011-4

In [61]:
#Author
author = jv[['key','author']]
author['key'].replace(regex=True,inplace=True,to_replace=r'journals/',value=r'')
new_author = pd.DataFrame(author.author.str.split('|').tolist(), index=author.key).stack()
new_author = new_author.reset_index([0, 'key'])
new_author.columns = ['key', 'author']
print(new_author.size)
new_author = new_author.drop_duplicates()
print(new_author.size)
aut = new_author['author'].unique()
with open(FILE_PATH+'authorsjp.csv', 'a') as f:
    for e in aut:
        f.write(a+'\n')
#new_author.to_csv(FILE_PATH+'bulk_csv/author(paper).csv', index=False)

11330
11330

In [62]:
len(aut)

4623

In [63]:
dauth = pd.read_csv(FILE_PATH+'/bulk_csv/Author(Edition_Paper).csv', header=None)

In [71]:
dad = {}
for r in dauth[0]:
    dad[r]=1
counter=0
with open(FILE_PATH+'/bulk_csv/authors_ali.csv', 'a') as f:
    for au in aut:
        if au not in dad:
            counter=counter+1
            f.write(au+'\n')
print(counter)

4328

In [72]:
all_aut = pd.read_csv(FILE_PATH+'/bulk_csv/authors.csv', header=None)
all_aut.head()

                         0
0              Kais Haddar
1  Nadia Ghezaiel Hammouda
2            Masako Watabe
3              Naziha Laaz
4             Samir Mbarki

In [73]:
print(len(all_aut[0]))
print(len(all_aut[0].unique()))

25044
25044

In [5]:
import pandas as pd
import numpy as np

FILE_PATH = 'C:/Users/webma/Desktop/BDMA/UPC/Semantic Data Management/Labs/Lab1/Dataset/bulk_csv/'
data = pd.read_csv(FILE_PATH+'author(paper).csv')
#header = pd.read_csv(FILE_PATH+'output_article_header.csv', sep=';')
#data.columns = [x[:x.find(':')] for x in header.columns]
data.reset_index()
data.head(10)

                     key               author
0    thipeac/GolanderW09        Amit Golander
1    thipeac/GolanderW09         Shlomo Weiss
2       thipeac/ChoiPD09        Michel Dubois
3       thipeac/ChoiPD09        Seok-Jun Park
4       thipeac/ChoiPD09          Woojin Choi
5      thipeac/SarkarT11      Dean M. Tullsen
6      thipeac/SarkarT11   Subhradyuti Sarkar
7  thipeac/AnsariLKJKW11     Chris C. Kirkham
8  thipeac/AnsariLKJKW11  Christos Kotselidis
9  thipeac/AnsariLKJKW11           Ian Watson

In [42]:
d={}
p={}
for i,r in data.iterrows():
    if r['author'] not in d:
        d[r['author']]=[r['key']]
    else:
        d[r['author']]=d[r['author']]+[r['key']]
    p[r['key']]=0

In [18]:
d['Amit Golander']

'thipeac/GolanderW09'

In [21]:
len(data['key'].unique())

1841

In [43]:
authors = data['author'].unique()
papers = data['key'].unique()
aut=[]
pap=[]
reviewers = np.random.choice(authors,1000, replace=False)
for vr in reviewers:
    my_reviews = np.random.choice(papers,20, replace=False)
    cnt=0
    for rvs in my_reviews:
        if rvs not in d[vr] and p[rvs] < 3:
            aut=aut+[vr]
            pap=pap+[rvs]
            p[rvs]=p[rvs]+1
            cnt=cnt+1
            if cnt==3:
                break

In [44]:
len(aut)

3000

In [45]:
len(pap)

3000

In [51]:
gen=pd.DataFrame({'paper':pap,'reviewer':aut})
print(gen.head(50))

                         paper                reviewer
0            tcos/Yanagisawa09        Etsuji Yamaguchi
1               tlsdkcs/BaFD16        Etsuji Yamaguchi
2            tcos/SherstyukK14        Etsuji Yamaguchi
3          topnoc/MansARBMLJ09              Sören Auer
4          taosd/KienzleAFJK10              Sören Auer
5                 tedu/Meyer09              Sören Auer
6            tdhms/EchizenYG15             Volker Dürr
7            topnoc/BrogiCSW16             Volker Dürr
8           topnoc/LohmannVD09             Volker Dürr
9        tlsdkcs/EndrisGLMVA18          Hyunseung Choo
10                  trs/Mani16          Hyunseung Choo
11                 tcos/RoyB18          Hyunseung Choo
12           jgtools/Pfeifle12           Michel Auguin
13           tplop/Saridakis09           Michel Auguin
14            tcos/ElbakryEE09           Michel Auguin
15         tlsdkcs/Thalheim12a            Mattia Monga
16                tcci/DinhA14            Mattia Monga
17           jods/JaudoinFPT09            Mattia Monga
18           tcci/JonkerSTWW10        Kiyoshi Kiyokawa
19               tedu/HuangH15        Kiyoshi Kiyokawa
20                tcci/Kubik11        Kiyoshi Kiyokawa
21            tcos/HouLLLSMW16             Zi'ang Ding
22             tcci/Kyriazis19             Zi'ang Ding
23   tlsdkcs/MarquesuzaaELNL16             Zi'ang Ding
24  tcos/RegazzoniEPGGMDPPLI09             Joshua Chua
25              tcos/MiocAGM10             Joshua Chua
26                  trs/JiaS14             Joshua Chua
27         jgtools/McEwanSRG12   Héctor Perez Martínez
28              jods/CookeGN05   Héctor Perez Martínez
29              tcos/MiocAGM10   Héctor Perez Martínez
30         tcsb/BreitlingDGH10    William Kokou Dedzoe
31            trs/Gomolinska10    William Kokou Dedzoe
32           tcsb/GomezAPGJV05    William Kokou Dedzoe
33             tcos/ZhangJZZ09  Djamel-Eddine Saïdouni
34            tcci/Takahashi12  Djamel-Eddine Saïdouni
35       topnoc/WestergaardK12  Djamel-Eddine Saïdouni
36         taosd/WhittleJEMA09       Antonio Manzalini
37              tedu/FanWCPS12       Antonio Manzalini
38        tlsdkcs/SaririSKAG16       Antonio Manzalini
39           topnoc/PhawadeL15           Salma Mouline
40              tcos/NakataS08           Salma Mouline
41             tlsdkcs/LeDTN14           Salma Mouline
42         tlsdkcs/SouzaPKTS11          Kashi Nath Dey
43                tedu/WangW17          Kashi Nath Dey
44         jods/MecellaSVBCB03          Kashi Nath Dey
45           tcos/HarrisonMS12              Luke Olsen
46                 trs/KhanB10              Luke Olsen
47            trs/BazanBPBSD15              Luke Olsen
48        tcci/OrlowskiZOKSP16         Hai-Long Nguyen
49             taosd/FilhoAB16         Hai-Long Nguyen

In [52]:
gen.to_csv(FILE_PATH+'paper_reviewer.csv', index=False)

In [56]:
gg=gen['reviewer'].unique()
with open(FILE_PATH+'reviewer.csv', 'a') as f:
    for r in gg:
        f.write(r+'\n')