In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('Dataset/output_article.csv', sep=';', header=None)

C:\Users\webma\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2,4,5,6,7,8,9,10,11,13,14,18,19,20,21,22,23,24,28,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
header = pd.read_csv('Dataset/output_article_header.csv', sep=';')

In [10]:
cols = [x[:x.find(':')] for x in header.columns]

In [11]:
cols

['article',
 'author',
 'author-aux',
 'author-orcid',
 'booktitle',
 'cdate',
 'cdrom',
 'cite',
 'cite-label',
 'crossref',
 'editor',
 'editor-orcid',
 'ee',
 'ee-type',
 'i',
 'journal',
 'key',
 'mdate',
 'month',
 'note',
 'note-type',
 'number',
 'pages',
 'publisher',
 'publtype',
 'sub',
 'sup',
 'title',
 'title-bibtex',
 'tt',
 'url',
 'volume',
 'year']

In [12]:
data.columns = cols

In [13]:
data.head()

,article,author,author-aux,author-orcid,booktitle,cdate,cdrom,cite,cite-label,crossref,...,publisher,publtype,sub,sup,title,title-bibtex,tt,url,volume,year
0,91701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,(error),NaN,NaN,NaN,NaN,NaN
1,91702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,(was never published),NaN,NaN,NaN,NaN,NaN
2,91703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,…,NaN,NaN,NaN,NaN,NaN
3,2480033,Frank Manola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,Object Data Language Facilities for Multimedia...,NaN,NaN,db/journals/gtelab/index.html#TR-0169-12-91-165,TR-0169-12-91-165,1991.0
4,2480034,Alejandro P. Buchmann|Frank Manola|Mark F. Hor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,informal,NaN,NaN,Object Data Model Facilities for Multimedia Da...,NaN,NaN,db/journals/gtelab/index.html#TM-0332-11-90-165,TM-0332-11-90-165,1990.0

In [18]:
journal_volume = data[['journal','volume']]
journal_volume = journal_volume.dropna()
journal_volume.head()

                         journal             volume
3  GTE Laboratories Incorporated  TR-0169-12-91-165
4  GTE Laboratories Incorporated  TM-0332-11-90-165
5  GTE Laboratories Incorporated  TR-0263-08-94-165
6  GTE Laboratories Incorporated  TR-0174-12-91-165
7  GTE Laboratories Incorporated  TM-0149-06-89-165

In [24]:
import sys
np.set_printoptions(threshold=sys.maxsize)

arr=journal_volume['journal'].unique()

In [26]:
with open('journal.csv', 'a') as the_file:
    for j in arr:
        the_file.write(j+'\n')

In [30]:
arr2 = journal_volume['volume']
arr3 = journal_volume['volume'].unique()
print(arr2)

3          TR-0169-12-91-165
4          TM-0332-11-90-165
5          TR-0263-08-94-165
6          TR-0174-12-91-165
7          TM-0149-06-89-165
                 ...
2137506                RJ909
2137507               RJ1400
2137509                   15
2137510                RJ987
2137511                   16
Name: volume, Length: 2136801, dtype: object

In [33]:
print(len(arr3))
print(len(arr2))

245131
2136801